In [2]:
print("hi")

hi

In [3]:
print(4)

4

In [4]:
print('hi')

hi

In [ ]:
print(4+5)

In [18]:
name = "Rajesh"
print('name = '+name)

name = Rajesh

In [20]:
print('4+5')

4+5

In [9]:
age = 30
print(age)  # Outputs: 30
age = 31  # Variable value can be overwritten
print(age)  # Outputs: 31

30
31

In [15]:
x = 5  # x is an integer
y = "hello"  # y is a string
z = 3.14  # z is a float
print(x)
print(y)
print(x+z)

5
hello
8.14

In [16]:
#Example of Variable Assignment:
name = "Alice"  # String variable
age = 25        # Integer variable
height = 5.6    # Float variable
is_student = True  # Boolean variable
x = 42
print(type(x))  # <class 'int'>
y = 3.14
print(type(y))  # <class 'float'>
z = 3 + 4j
print(type(z))  # <class 'complex'>

greeting = "Hello, World!"
print(type(greeting))  # <class 'str'>
print(greeting[0])     # 'H'

numbers = [1, 2, 3]
numbers.append(4)
print(type(numbers))  # <class 'list'>
print(numbers)        # [1, 2, 3, 4]

point = (10, 20)
print(type(point))  # <class 'tuple'>
print(point[0])     # 10

unique_nums = {1, 2, 2, 3}
print(type(unique_nums))  # <class 'set'>
print(unique_nums)        # {1, 2, 3}

person = {"name": "Bob", "age": 30}
print(type(person))  # <class 'dict'>
print(person["name"])  # 'Bob'

is_active = True
print(type(is_active))  # <class 'bool'>
print(is_active)        # True

result = None
print(type(result))  # <class 'NoneType'>
print(result)        # None

#conversion
num_str = "100"
num = int(num_str)
print(num + 5)  # 105

#Type Checking
x = 3.14
print(isinstance(x, float))  # True

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
H
<class 'list'>
[1, 2, 3, 4]
<class 'tuple'>
10
<class 'set'>
{1, 2, 3}
<class 'dict'>
Bob
<class 'bool'>
True
<class 'NoneType'>
None
105
True

In [2]:
# Prompt user for age and convert to integer
try:
    age = int(input("Enter your age: "))
    print(f"You are {age} years old.")
except ValueError:
    print("Please enter a valid number.")

Enter your age:  45

You are 45 years old.