# Pandas Examples in Jupyter Notebook
This notebook demonstrates the use of Pandas **Series** and **DataFrame** for data manipulation and analysis.

## 1. Pandas Series
A **Series** is a one-dimensional labeled array capable of holding any data type.

In [1]:
# Import pandas
import pandas as pd

# Create a Series from a list with custom index
data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

# Display the Series
print("Series:")
print(series)

# Accessing elements
print("\nElement at index 'c':", series['c'])

# Basic operations
series_doubled = series * 2
print("\nSeries doubled:")
print(series_doubled)

# Filtering
print("\nValues greater than 25:")
print(series[series > 25])

# Statistical summary
print("\nStatistical Summary:")
print(series.describe())

Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Element at index 'c': 30

Series doubled:
a     20
b     40
c     60
d     80
e    100
dtype: int64

Values greater than 25:
c    30
d    40
e    50
dtype: int64

Statistical Summary:
count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

## 2. Pandas DataFrame
A **DataFrame** is a two-dimensional tabular data structure with labeled rows and columns, similar to a spreadsheet.

In [2]:
# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 75000, 80000]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

# Selecting a column
print("\nSelecting 'Age' column:")
print(df['Age'])

# Filtering rows
print("\nEmployees with Salary > 60000:")
print(df[df['Salary'] > 60000])

# Adding a new column
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

# Grouping and aggregating
print("\nAverage Salary by Age group:")
age_group = df.groupby('Age')['Salary'].mean()
print(age_group)

# Statistical summary
print("\nStatistical Summary of DataFrame:")
print(df.describe())

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
3    David   40   80000

Selecting 'Age' column:
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

Employees with Salary > 60000:
      Name  Age  Salary
2  Charlie   35   75000
3    David   40   80000

DataFrame with Bonus column:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   75000  7500.0
3    David   40   80000  8000.0

Average Salary by Age group:
Age
25    50000.0
30    60000.0
35    75000.0
40    80000.0
Name: Salary, dtype: float64

Statistical Summary of DataFrame:
             Age        Salary        Bonus
count   4.000000      4.000000     4.000000
mean   32.500000  66250.000000  6625.000000
std     6.454972  13768.926368  1376.892637
min    25.000000  50000.000000  5000.000000
25%    28.750000  57500.000000  5750.000000
50%    32.500000  67500.000000  6750.000000
75%    36.250000  76250.000000  7625.000000
max    40.000000  80000.000000  8000.000000

## Notes
- Run each code cell to see the output.
- Use `df.head()` to preview the first few rows of a DataFrame.
- Save the DataFrame to a CSV file with `df.to_csv('output.csv')` if needed.